<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897488732494-uvtt2qtu5bc0db782pn2402hehro84sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897488732494-uvtt2qtu5bc0db782pn2402hehro84sb</string>
	<key>API_KEY</key>
	<string>AIzaSyCzY8qT0LQBbIdVqCsqQ_bh_fTl51aTu9g</string>
	<key>GCM_SENDER_ID</key>
	<string>897488732494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uitest.learningApp</string>
	<key>PROJECT_ID</key>
	<string>learning-app-46238</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-46238.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897488732494:ios:2e96ed3319680a33b11e1f</string>
</dict>
</plist>